<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cosmeticsapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.example.cosmeticsapp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CosmeticsApp">
        <activity android:name="com.example.cosmeticsapp.view.act.CustomerServiceActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.PromotionActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.ShopDetailActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.MapActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.ShipActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.ShippingOrderActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.ShipOrderDoneActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.OrderDetailActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.CartActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.CartUserActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.EditUserActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.ProductDetailActivity"/>
        <activity android:name="com.example.cosmeticsapp.view.act.ChangePasswordActivity"/>
        <activity
            android:name="com.example.cosmeticsapp.view.act.MainActivity"
            android:theme="@style/Theme.CosmeticsApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY"/>
    </application>

</manifest>